* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(223, 226, 31, 0.867);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

body h1 {

    background-color: #242513;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 20px rgba (0, 0, 0, 0.2);
}

