* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b1d31;
    display: flex;
    justify-content: center;
    align-items: center;

}

body h1 {

    background-color: #242513;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 20px rgba (0, 0, 0, 0.2);
}

