.container {
    height: 100vh;
}


.container{
    background-image: url('profile 1.jpg');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-origin: border-box;
    padding: 40px;
    border: 25px solid rgb(241, 96, 217);
    border-style: dashed;
    width : 400px;
    height : 400px;
  }

#body {

    background-attachment: scroll;
    background-color: rgba(99, 110, 114, 0.5);
    height: 100 vh;
}