
.container{
    background-image: url('profile 1.jpg');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-origin: border-box;
    padding: 10px;
    border: 1px solid rgb(241, 96, 217);
    border-style: dashed;
    width : 200px;
    height : 200px;
  }

.body {

    background-attachment: scroll;
    background-color: rgba(99, 110, 114, 0.5);
    height: 100 vh;
}