.conteiner {
   background-image: url("C:\Users\tatya\Documents\PROGRAMAÇAO\elasnatech\CV\turma\BACKGROUND-PROJECT\Background-property-images\Background-property-images\kitty.png"); 
   height: 100vh;
   background-repeat: no-repeat;
   background-size: contain;
   background-size: 200px 200px;

}