.container {
    height: 100vh;
}
.container {
   background-image: url('kitty.png'); 
   height: 100vh;
   background-repeat: no-repeat;
   background-size: contain;
   background-size: 200px 200px;
   background-position: bottom-left;

}

.container{
    background-image: url('profile 1.jpg');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-origin: border-box;
    padding: 40px;
    border: 25px solid rgb(241, 96, 217);
    border-style: dashed;
    width : 400px;
    height : 400px;
  }

.container {

    background-attachment: scroll;
    background-color: rgba(99, 110, 114, 0.5);
    height: 100 vh;
}